:root {
  --nav-color: #042D5F;
  --div-color:#E6E6E6;
  --gold-color:#FEB702;
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'poppins', sans-serif;
  background: rgba(255, 253, 253, 0.959);
}
html,body{
  overflow-x: hidden;
}